body{
  background-color: fuchsia;
  padding: 20px;
  color: white;
}



/* NAV STYLING */

.navbar{
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-ol{
  list-style: none;
}


/* TABLE STYLES */

thead{
  border-bottom: 2px solid red;
  background-color:red;
}
tbody{
  background-color:orange;
}
tr{
  border: 2px solid green;
}
.links,.links:visited{
 color: white;
}
